.font-style {
    font-family: Calibri, Arial, sans-serif;
}

.font-bold{
    font-weight: bold;
}

.font-size-18{
    font-size: 18px;
}

.tiktok:hover {
    background-color: black !important;
}

.border-card{
    border: solid 1px rgb(249, 196, 196);
}

.cat-branding{
    border: solid 1px red;
}

.cat-design{
    border: solid 1px yellow;
}
.cat-photography{
    border: solid 1px blue;
}
.cat-video-3 {
    border: solid 1px green;
}

.w-100 {
    width: 100%;
}
.mt-5{
    margin-top: 25px;
}
.h-60{
    height: 57px;
}

.radius-0
{
    border-radius: 0px;
}
.btnSendEmail{
    width: 100%;
    background-color: green;
    font-size: 22px;
}

#name, #subject, #message{
    font-size: 22px;
}
.vc_single_image-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}